<!-- A form where we will notify the user that he has not been assigned any vehicle -->
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Failure</title>
    <style>
        input[type=text],
        select {
            width: 30%;
            padding: 12px 0px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
    </style>
</head>

<body>

    <div class="container">
        <h1> <%= message %> </h1>
    </div>

</body>

</html>